*{
    margin:0px;
    padding:0px;
}
.header{
    background-image: url("assets/homepageimg.jpeg");
    background-repeat: no-repeat;
    background-position:100%;
    margin: 0%;
    background-attachment:inherit;
    background-size: cover;
    width: 100%;
    height: 80%;
}

.header a{
    color:rgb(11, 11, 11);
    text-decoration: none;
}
.header p{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 35%;
    width: 100%;
}
.header h6{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: #ede9e4;
    margin-top: 20px;
    margin-right: 15%;
    width: 100%;
}
.header h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    color: #ffffff;
    float:none;
    margin-left: 10%;
    margin-top: 100px;
}

.navbar{
    width: 1500px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 78px;
}

.logo{
    color: #2b2b2bcf;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 0px;
    font-style: italic;
    width: 30px;
    height: 30px;
}


.menu{
    width: 400px;
    float:left;
    height: 70px;
    margin-left: 890px;
}
.menu a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.6s ease-in-out;
    font-family: 'Times New Roman', Times, serif;

}
.menu a:hover{
    color: #969696;
}

ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: #4d4d4dcf;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.4s ease-in-out;
    font-size: 14px;

}

ul li a:hover{
    text-decoration: underline;
    color: #838383cf;
}
.intro{
    width: 100%;
    height: 200%;
    background-color: #dfd4c8;
}
.intro p{
    font-size: 18px;
    margin-left: 36%;
    margin-top: 100px;
    font-family:'Times New Roman', Times, serif;
    line-height: 0.8cm;
    margin-right: 150px;
}
.intro img{
    margin-top: 100px;
    height: 50%;
}
.intro h6{
    font-size: 25px;
    margin-left: 35%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: -49%;
}
.custom{
    margin-top: -10%;
    background-color: #dfd4c8;
}
.custom p{
    font-size: 19px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-top: 3%;
    line-height: 0.8cm;
    color: #272021;
}
.custom h2{
    font-family: 'Times New Roman', Times, serif;
    color:#800020;
    margin-top: -45%;
    margin-left: 175px;
}
.custom h6{
    font-family:'Times New Roman', Times, serif;
    color: #800020;
    font-size: 50px;
    margin-left: 150px;
    margin-top: 30px;
}
.custom a{
    text-decoration: none;
    transition: 0.4s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 250px;
    color: #800020;
}
.custom a:hover{
    color: #ffffff;
}